In [1]:
import pandas as pd

In [3]:
old_dataset = pd.read_csv('mamografia.csv')
old_dataset.shape

(961, 6)

In [4]:
old_dataset.columns

Index(['BI-RADS', 'Idade', 'Forma', ' Margem', ' Densidade', 'Severidade'], dtype='object')

In [6]:
old_dataset.rename(columns={'BI-RADS': 'BI_RADS', 'Idade':'age', 'Forma':'shape', ' Margem':'margin', ' Densidade':'density', 'Severidade':'severity'}, inplace=True)

In [7]:
old_dataset.columns

Index(['BI_RADS', 'age', 'shape', 'margin', 'density', 'severity'], dtype='object')

In [9]:
old_dataset.to_csv('dataset_mammography.csv', index=False, sep=',')

In [10]:
new_dataset = pd.read_csv('dataset_mammography.csv')
new_dataset.shape

(961, 6)

In [11]:
new_dataset.head()

   BI_RADS   age  shape  margin  density  severity
0      5.0  67.0    3.0     5.0      3.0         1
1      4.0  43.0    1.0     1.0      NaN         1
2      5.0  58.0    4.0     5.0      3.0         1
3      4.0  28.0    1.0     1.0      3.0         0
4      5.0  74.0    1.0     5.0      NaN         1